.food-details-container {
	align-items: center;
	background-color: white;
    border-radius: 4px;
	border: 1px solid  #ced4da;
	color: black;
	display: flex;
	justify-content: center;
	flex-direction: column;
    min-height: 200px;
    padding: 15px;
}
.food-details-container img {
	width: 100%;
}
.details-list-item {
	display: block;
}
.no-image-text {
	color: #ccc;
	font-size: 24px;
	font-weight: bold;
}